/* :: 4.0 Header Area CSS */
.header_area {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
@media only screen and (max-width: 767px) {
  .header_area .classy-nav-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }
@media only screen and (max-width: 767px) {
  .header_area .classy-nav-container .classy-navbar-toggler {
    margin-left: auto;
    margin-right: 15px; } }
.header_area .classy-navbar,
.header_area .header-meta {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  min-width: 50%;
  width: 50%; }
@media only screen and (max-width: 767px) {
  .header_area .classy-navbar,
  .header_area .header-meta {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    min-width: 100%;
    width: 100%; } }
.header_area .classy-navbar {
  height: 85px;
  padding: 5px 0 5px 5%; }
@media only screen and (max-width: 767px) {
  .header_area .classy-navbar {
    height: 40px;
    border-bottom: 1px solid #ebebeb; } }
.header_area .header-meta {
  height: 85px;
  position: relative;
  z-index: 1; }
@media only screen and (max-width: 767px) {
  .header_area .header-meta {
    height: 40px; } }
.header_area .classynav ul li a {
  font-size: 16px;
  color: #787878; }
.header_area .classynav ul li a:hover {
  color: #000000; }
.header_area .classynav ul li .megamenu li a,
.header_area .classynav ul li .dropdown li a {
  font-size: 14px;
  color: #787878; }
.header_area .classynav ul li .megamenu li a:hover,
.header_area .classynav ul li .dropdown li a:hover {
  color: #000000; }
.header_area .search-area form {
  position: relative;
  z-index: 1;
  height: 85px;
  border-left: 1px solid #ebebeb; }
@media only screen and (max-width: 767px) {
  .header_area .search-area form {
    height: 40px;
    border-left: none; } }
.header_area .search-area form input {
  border: none;
  background-color: #ffffff;
  width: 200px;
  height: 85px;
  padding: 0 15px 0 60px;
  color: #787878;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms; }
@media only screen and (max-width: 767px) {
  .header_area .search-area form input {
    width: 170px;
    height: 40px;
    padding: 0 10px 0 30px; } }
.header_area .search-area form input:focus {
  outline: none !important;
  width: 350px; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_area .search-area form input:focus {
    width: 300px; } }
@media only screen and (max-width: 767px) {
  .header_area .search-area form input:focus {
    width: 170px; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header_area .search-area form input:focus {
    width: 270px; } }
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header_area .search-area form input:focus {
    width: 300px; } }
.header_area .search-area form button {
  position: absolute;
  z-index: 10;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 30px;
  background-color: transparent;
  border: none;
  color: #787878;
  font-size: 14px; }
@media only screen and (max-width: 767px) {
  .header_area .search-area form button {
    left: 10px;
    height: 40px; } }
.header_area .admin-area a,
.header_area .user-login-info a,
.header_area .exit-area a {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
  width: 90px;
  display: block;
  text-align: center;
  border-left: 1px solid #ebebeb;
  height: 100%;
  line-height: 80px; }
@media only screen and (max-width: 767px) {
  .header_area .admin-area a,
  .header_area .user-login-info a,
  .header_area .exit-area a {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    width: 50px;
    line-height: 40px; } }
.header_area .admin-area a img,
.header_area .user-login-info a img,
.header_area .exit-area a img {
  max-width: 20px; }
.header_area .admin-area a span,
.header_area .user-login-info a span,
.header_area .exit-area a span {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #0315ff;
  font-weight: 700;
  position: absolute;
  top: -10px; }
@media only screen and (max-width: 767px) {
  .header_area .admin-area a span,
  .header_area .user-login-info a span,
  .header_area .exit-area a span {
    font-size: 14px; } }
.header_area.sticky {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15); }

